<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.rabbitmq.mapper.NodeActionClazzMapper">
    <resultMap id="BaseResultMap" type="com.fintech.rabbitmq.entity.NodeActionClazz">
        <!--@mbg.generated-->
        <!--@Table t_o_node_action_clazz-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="clazz" jdbcType="VARCHAR" property="clazz"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="param_desc" jdbcType="VARCHAR" property="paramDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, clazz, `desc`, param_desc
    </sql>
</mapper>
