<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.rabbitmq.mapper.OperateCodeConfMapper">
    <resultMap id="BaseResultMap" type="com.fintech.rabbitmq.entity.OperateCodeConf">
        <!--@mbg.generated-->
        <!--@Table t_o_operate_code_conf-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, code, `type`, `module`
    </sql>

    <!--auto generated on 2020-02-17-->
    <select id="selectOneByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_o_operate_code_conf
        where code=#{code,jdbcType=VARCHAR}
    </select>
</mapper>
